<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand light">Agenda</a>
        <ul class="nav ms-auto">
            <li class="nav-item"><a href="#" class="nav-link link-light">Link</a></li>
        </ul>
    </div>
</nav>