<%- include('includes/head');  %> 
<%- include('includes/navbar'); %> 

<div class="container-fluid">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="col-8 mt-3">
            <p class="h1 text-center">Agenda</p>
            <p class="text-center lead">Your contacts are displayed below.</p>
        </div>

        <%- include('includes/messages') %> 

        <div class="responsive-table col-6 mt-3">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Number</th>
                    <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tr>
                    <td>Bruno</td>
                    <td>Petri</td>
                    <td>48988229779</td>
                    <td>brunoopetri@gmail.com</td>
                </tr>
        </div>
    </div>
</div>

<%- include('includes/footer');  %> 